/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


main {
  padding: 2em;
}



.products, .services, .investment {
  padding: 2em;
}

.products ul, .services ul, .investment ul {
  list-style: none;
  padding: 0;
}

.products li, .services li, .investment li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
